# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
Functons/__pycache__/
*.pyc
*.pyo
*.pyd
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env

# VS Code settings
.vscode/
*.code-workspace

# Logs
*.log

tester.py

# Database backups or local files (optional)
*.sqlite3
*.db

